.page-header { background-color: #000; font-family: 'Kaushan Script', cursive; margin: 0px 0px; padding: 0px; }
.page-header img { width: 100%; max-width: 200px; }
.page-header h1 { display: inline; }

body {
    color: #fff;
}

#title_div { text-align: center; padding: 40px 40px; }
#who_we_are { color: black; padding: 40px 40px; }

.carousel {
  interval: 1000;
}

.carousel-inner img {
    background-color: black;
    margin: auto;
    height: 540px;
    width: 100%;
}

.navbar {
  background-color: black;
  border: none;
  border-radius: 0px;
  margin: 0px;
}

.navbar-header {
  padding-left: 10px;
}

.navbar button {
  border: none;
}