body {
  overflow-x: hidden;
}
.page-header { font-family: 'Kaushan Script', cursive; background-color: #000; color: #fff; margin: 0px 0px; padding: 0px; border: none; }
.page-header img { width: 100%; max-width: 200px; }
.page-header h1 { display: inline; }

#title_div { text-align: center; padding: 40px 40px; }
#who_we_are { color: black; padding: 40px 40px; }
/* #logo_div img{
  transform: scale(0.8, 0.8);
} */

#adresse {
  margin-bottom: 32px;
}

.carousel {
  interval: 1000;
}

.carousel-inner img {
    background-color: black;
    margin: auto;
    /*height: auto;*/
    width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 0px;
}
.carousel-caption span {
  font-size: 42px;
   font-family: 'Kaushan Script', cursive;
}
.navbar {
  border: none;
  border-radius: 0px;
  margin: 0px;
  color: #fff;
}

.navbar-invert {
  color: #fff;
}

.navbar-header {
  padding-left: 10px;
}

.navbar-nav a {
  color: #fff;
}

.navbar-invert .navbar-toggle .icon-bar {
  background-color: #fff;
}

#where_we_are { background-color: #f3f3f3; padding: 40px 40px; }
body .container-fluid { padding: 0px; }

#googleMap {
  height: 400px;
  width: 100%;
}

footer { background-color: #2d2d30; color: #bdbdbd; }


.standard-text-footer {
  margin-left: 3px;
  display:inline-block;
  line-height:29px;
  height:29px;
}

.facebook-text-footer {
  margin-right:3px;
  display: inline-block;
  line-height: 29px;
  height: 29px;
  
}
.facebook-picto {
  display: inline-block;
  line-height: 29px;
  height: 29px;
}